cache/
logs/
session.lock

/.console_history
/banned-ips.json
/banned-players.json
/commands.yml
/help.yml
/ops.json
/permissions.yml
/usercache.json
/version_history.json
/whitelist.json

/worlds/world/
/worlds/*/advancements/
/worlds/*/data/
/worlds/*/datapacks/
/worlds/*/playerdata/
/worlds/*/poi/
/worlds/*/stats/
/worlds/*/level.dat_old
/worlds/*/uid.dat